<h1>{{ name }}</h1>

<div *ngFor="let section of sections">
    <h2>{{ section.name }}</h2>
    <ng-container *ngIf="tasks$ | async as tasks">
        <app-task *ngFor="let task of tasks | filterUncompletedOnSection : section.id"
            [id]="task.id"
            [content]="task.content"
            [weight]="task.weight"
            [completion]="task.completion"
            [order]="task.order"
            [subtasks]="task.subtasks"
            [completedSubtasks]="task.completedSubtasks"
        ></app-task>
    </ng-container>
</div>

<div>
    <h2>Done</h2>
    <app-task *ngFor="let task of doneTasks$ | async"
        [id]="task.id"
        [content]="task.content"
        [weight]="task.weight"
        [completion]="task.completion"
        [order]="task.order"
        [subtasks]="task.subtasks"
        [completedSubtasks]="task.completedSubtasks"
    ></app-task>
</div>
