:host {
    display: flex;
    width: 500px;
    margin-bottom: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 20px;
    margin: 0 auto 10px;

    span {
        margin-left: 10px;
        flex-grow: 1;
        padding-top: 1px;
        
        &.completed {
            text-decoration: line-through;
            color: grey;
        }
    }

    &:hover {
        i.action {
            visibility: visible;
        }
    }

    i {
        display: flex;
        align-items: center;
        justify-content: center;

        &.bi-check-circle-fill {
            color: blue;
        }

        &.action {
            visibility: hidden;
            color: grey;
            width: 26px;
            height: 26px;
            border-radius: 3px;
            margin-right: 5px;

            &:hover {
                color: black;
                background-color: lightgrey;
            }
        }
    }
}