:host {
    position: relative;
    display: flex;
    align-items: center;
    width: 500px;
    max-width: 100%;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    margin: 0 auto;
    min-height: 36px;
    padding: 5px 8px;

    &.day-task {
        .completed {
            .content {
                text-decoration: line-through;
                color: grey;
            }
        }
    }
    
    &.section-task {
        background-color: white;
        border-radius: 5px;
        margin: 7px;
        max-width: calc(100% - 14px);
        font-size: 14px;

        .actions {
            top: 4px;
        }
    }

    p {
        margin-left: 6px;
        flex-grow: 1;
        height: max-content;
        display: flex;
        align-items: center;

        .weight, .subtasks  {
            border-radius: 3px;
            padding: 1px 4px;
            font-size: 12px;
            height: max-content;
            margin-left: 7px;
        } 

        .weight {
            background-color:lightblue;
        }

        .subtasks {
            background-color: orange;
        }
    }

    .actions {
        position: absolute;
        background-color: transparent;
        top: 0;
        right: 8px;
        display: flex;
        gap: 5px
        
    }
    

    &:hover {
        .actions {
            background-color: white;

            i.action {
                visibility: visible;
            }
        }
    }

    i {
        display: flex;
        align-items: center;
        justify-content: center;

        &.bi-check-circle-fill {
            color: blue;
        }

        &.action {
            visibility: hidden;
            color: grey;
            width: 26px;
            height: 26px;
            border-radius: 3px;

            &:hover {
                color: black;
                background-color: lightgrey;
            }
        }
    }
}