<h1>{{ date | date:'EEEE d LLLL yyyy' }} 50%</h1>

<app-task [id]="1" content="wake up before 9am" [completed]="true" date="11-5-2023"></app-task>
<app-task [id]="2" content="morning routine x0.25" [completed]="true" date="11-5-2023"></app-task>
<app-task [id]="3" content="exercises" [completed]="true" date="11-5-2023"></app-task>
<app-task [id]="4" content="no internet" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="5" content="english 3 x 10 minutes" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="6" content="pomodoro 1" [completed]="true" date="11-5-2023"></app-task>
<app-task [id]="7" content="pomodoro 2" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="8" content="pomodoro 3" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="9" content="pomodoro 4" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="10" content="pomodoro 5" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="11" content="pomodoro 6" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="12" content="pomodoro 7" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="13" content="pomodoro 8" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="14" content="pomodoro 9" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="16" content="pomodoro 10" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="17" content="book" [completed]="false" date="11-5-2023"></app-task>
<app-task [id]="18" content="evening routune x0.25" [completed]="false" date="11-5-2023"></app-task>

<app-new-task></app-new-task>