<button (click)="goToPrevWeek()">prev</button>
<h1>Week {{ week }} {{ year }}</h1>
<button (click)="goToNextWeek()">next</button>

<table>
    <thead>
        <tr>
            <th>HABITS</th>
            <th>15</th>
            <th>16</th>
            <th>17</th>
            <th>18</th>
            <th>19</th>
            <th>20</th>
            <th>21</th>
            <th>total</th>
            <th>goal</th>
            <th>result</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>wake up</td>
            <td class="danger"></td>
            <td class="danger"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>6</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>exercises</td>
            <td class="danger"></td>
            <td class="danger"></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>4</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>pomodoro</td>
            <td>-</td>
            <td class="success">3h</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>22.5h</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>day %</td>
            <td>-</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>80%</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<p>notes will be here</p>