:host {
    position: relative;
    display: block;
    width: 100%;
    max-width: 500px;
    border-radius: 3px;
    margin: 20px auto 0;
    
    button {
        display: block;
        margin: 0 auto;
        background-color: #e5e4e2;
        padding: 10px;
        font-weight: bold;
    }
}