<nav>
    <ul>
        <li>
            <a routerLink="/inbox" routerLinkActive="active">
                <i class="bi bi-inbox-fill"></i>
                Inbox
            </a>
        </li>
        <li>
            <a [routerLink]="actualWeekUrl" routerLinkActive="active">
                <i class="bi bi-calendar3-week"></i>
                Week
            </a>
        </li>
        <li>
            <a routerLink="/today" routerLinkActive="active">
                <i class="bi bi-calendar3-event"></i>
                Today
            </a>
        </li>
        <li>
            <a [routerLink]="tomorrowUrl" routerLinkActive="active">
                <i class="bi bi-sunrise-fill"></i>
                Tomorrow
            </a>
        </li>
        <li>
            <a routerLink="/upcoming" routerLinkActive="active">
                <i class="bi bi-calendar3"></i>
                Upcoming
            </a>
        </li>
    </ul>
    
    <ul>
        <li *ngFor="let project of projects$ | async">
            <a routerLink="/project/{{project.id}}" routerLinkActive="active">
                <i class="bi bi-circle-fill" [style.color]="project.color"></i>
                {{ project.name }}
            </a>
        </li>
    </ul>
</nav>

<button (click)="toggleMenu()">
    <i class="bi bi-arrow-left-right"></i>
</button>


<span class="overlay"(click)="toggleMenu()"></span>