<h2>
    {{ name }} 
    <span *ngIf="tasks$ | async as tasks" class="quantity">
        {{ tasks.length }}
    </span>
</h2>

<div class="tasks">
    <app-task *ngFor="let task of tasks$ | async"
        mode="section"
        [id]="task.id"
        [content]="task.content"
        [weight]="task.weight"
        [completion]="task.completion"
        [order]="task.order"
        [subtasks]="task.subtasks"
        [completedSubtasks]="task.completedSubtasks"
        class="section-task"
    ></app-task>
</div>

<app-new-task *ngIf="!doneSection" mode="section" [sectionId]="id" [projectId]="projectId"></app-new-task>
